.App {
  text-align: center;
}

.back-panel{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  background-color: #5863F8;
  border-bottom: 1px #3f7fa7 solid;
  box-shadow: #244a61 0px 15px 30px -8px
}

.back-panel h1{
  color: #EFE9F4;
}